*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#111;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px 50px;
background:black;
position:sticky;
top:0;
}

.logo{
color:gold;
font-size:28px;
font-weight:bold;
}

nav a{
color:white;
margin:0 15px;
text-decoration:none;
}

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(black, darkred);
}

.hero h1{
font-size:50px;
color:gold;
}

.hero button{
margin-top:20px;
padding:15px 30px;
background:red;
border:none;
color:white;
cursor:pointer;
}

section{
padding:60px;
}

.cards{
display:flex;
gap:20px;
}

.card{
background:#222;
padding:30px;
border-radius:12px;
width:250px;
}

.card button{
margin-top:15px;
background:gold;
border:none;
padding:10px;
cursor:pointer;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:15px;
border-radius:50px;
text-decoration:none;
}
